.container{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 100px;
}


#playerGrid {
 display: grid;
 grid-template-columns: repeat(10, 1fr);
 grid-template-rows: repeat(10, 1fr);
 width: 100vw;
 /* or a relative unit like % if you want to fit a parent element */
 max-width: 300px;
 /* max width to keep it within reasonable size */
 height: auto;
 /* let the height adjust according to the width */
}

#compGrid{
  display: grid;
   grid-template-columns: repeat(10, 1fr);
   grid-template-rows: repeat(10, 1fr);
   width: 100vw;
   /* or a relative unit like % if you want to fit a parent element */
   max-width: 300px;
   /* max width to keep it within reasonable size */
   height: auto;
   /* let the height adjust according to the width */
}

.gridBlock {
 background-color: white;
 border: 1px solid black;
 width: 100%;
 /* make it take the full width of the grid cell */
 height: 0;
 padding-bottom: 100%;
 /* keep the aspect ratio 1:1 */
}

.hover{
 background-color: lightgreen;
}


#modalWinner, #modalLoser{
  display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}
